body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: whitesmoke;
  margin: 0px;
  background-color: rgb(28, 28, 28);
}

fieldset {
  width: 50%;
  margin: auto;
}

input {
  padding: 4px;
  margin-bottom: 15px;
  display: block;
  font-size: 1.1em;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

#active {
  font-weight: bold;
  font-style: italic;
}

#container {
  display: grid;
  grid-template-rows: auto auto;
  width: 100%;
  height: 100%;
}

#header {
  background-color: #ff5f15;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 80% 20%;
  width: 100%;
  height: 50px;
  padding: 0px;
}

#topnav {
  height: 100%;
  grid-column: 1 / 2;
}

#authenticationnav {
  height: 100%;
  grid-column: 2 / end;
}

#topnav a {
  color: whitesmoke;
  float: left;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding: 17px 16px;
}

#authenticationnav a {
  color: whitesmoke;
  /* overflow: hidden; */
  float: right;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding: 17px 16px;
}

#topnav a:hover,
#authenticationnav a:hover {
  color: #ff5f15;
  background-color: whitesmoke;
}

#main-content {
  width: 100%;
  height: 100%;
  grid-row: 2 / end;
  background-color: rgb(28, 28, 28);
}

#footer {
  position: absolute;
  bottom: 0px;
  background-color: #ff5f15;
  width: 100%;
  text-align: center;
}

#footer p {
  font-size: 0.8em;
  color: whitesmoke;
}
